<form [formGroup]="form" class="search-form-wrap" id="prfl-search">
  <label class="control-label">
    <span class="control-name">First Name</span>
    <input formControlName="firstName" type="text" class="control-input" id="ctrl-fname">
  </label>

  <label class="control-label">
    <span class="control-name">Last Name</span>
    <input formControlName="lastName" type="text" class="control-input">
  </label>

  <label class="control-label">
    <span class="control-name">Stack</span>
    <input formControlName="stack" type="text" class="control-input">
  </label>
</form>
