<div class="profile-card">
  <div class="avatar-name">
    <img class="profile-card__avatar" src="/assets/images/logo-4.png" alt="ryan">
    <div class="profile-card__name">
      <strong>Ryan Gosling</strong>
      <span>ryan</span>
    </div>
  </div>
  <div class="profile-card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi cum, tempore nihil error unde maiores ut ex totam fuga qui, ab rem in quis iusto nulla soluta fugit magnam quasi.</div>
  
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>
</div>
