@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img class="profile-card__avatar" 
        [src]="profile.avatarUrl | imgUrl" 
        alt="ryan">
      <div class="profile-card__name">
        <span class="h6">
          {{ profile.firstName }}
          {{ profile.LastName }}
        </span>
        <span class="subtitle">{{ profile.username }}</span>
      </div>
    </div>
    <div class="profile-card__description">{{ profile.description }}</div>
    
    <div class="profile-card__tags">
      @for (tag of profile.stack; track tag) {
        <div class="skill-tag">{{tag}}</div>
      }
    </div>

    <div class="action-btns">
      <button class="btn">Subscribe</button>
    </div>
  </div>
} @else {
  <h6>LOADING...........</h6>
}



