<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="h1">Login</div>
  <label class="control-label mb16">
    <span>Login</span>
    <input class="control-input" type="text" placeholder="Login..." formControlName="username">
  </label>
  <label class="control-label mb32">
    <span>Password</span>
    <input class="control-input" type="text" placeholder="Password..." formControlName="password">
  </label>
  <div class="form-footer">
    <button class="btn btn-shadow" [disabled]="form.invalid">Login</button>
  </div>
</form>

<div class="block-2">
  <img src="/assets/images/logo-big.png" alt="logo" srcset="">
</div>

