:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100dvh;
  margin: 0 5%;
}

.block-2 {
  display: flex;
  justify-content: center;
}

.form-footer {
  display: grid;
}

// password
.password {
  &-input {
    position: relative;
  }

  &-eye-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: none;
    border: none;
    color: #FFFFFFBF;
    cursor: pointer;

    &.active {
      color: var(--primary-color);
    }
  }
}

