<img src="/assets/images/logo-small.svg" alt="Logo" class="ml16 mb20">

<nav>
  <ul class="menu">
    <li *ngFor="let item of menuItems">
      <a class="menu-i" [routerLink]="[item.link]" routerLinkActive="active">
        <svg [icon]="item.icon" class="svg-icon"></svg>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<div class="medium-text mb20">Subscribers</div>

@for (item of subscribers$ | async; track item.id) {
  <app-subscriber-card [profile]="item" />
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text">All subscribers</a>
  <svg [attr.href]="'arrow' | imgUrl" class="to-subscribers-icon"></svg>
   <span class="to-subscribers-icon">></span>
</div>

<footer class="sidebar-footer mt20">
  
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imgUrl" [alt]="me.firstName" class="footer-ava">
    } @else { 
      <img [src]="'ava-t.svg' | imgUrl" alt="ava" class="footer-ava">
    }

    <div class="medium-text username">{{ me.username }}</div>

    <a [routerLink]="['settings']" class="settings-link">
      <svg icon="settings" class="settings-icon"></svg>
    </a>
  }
</footer>
