:host {
  display: block;
  padding: 20px 12px;
}

.menu {
  display: grid;
  grid-gap: 8px;
  list-style: none;

  &-i {
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--light-color);
    width: 100%;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    &:hover,
    &:focus-visible {
      background-color: var(--dark-hover-color);
      color: var(--primary-color);
    }
  }
}
