:host {
  display: block;
  padding: 20px 12px;
  background-color: var(--dark-color);
}

.menu {
  display: grid;
  grid-gap: 8px;
  list-style: none;

  &-i {
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--light-color);
    width: 100%;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      background-color: var(--dark-hover-color);
      color: var(--primary-color);

      .svg-icon {
        color: var(--primary-color);
      }
    }
  }
}

.svg-icon {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--light-color);
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;

  &-link {
    color: var(--primary-color);
    text-decoration: none;
  }

  &-icon {
    width: 18px;
    height: 18px;
    color: inherit;
  }
}

.sidebar-footer {
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 2px;
  background-color: var(--dark-hover-color);
}

.footer-ava {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.username {
  font-weight: 700;
  color: var(--primary-color);
}

.settings-icon {
  width: 16px;
  height: 16px;
}
