/* You can add global styles to this file, and also import other style files */
@import 'styles/fonts';
@import 'styles/text';
@import 'styles/controls';
@import 'styles/indents.scss';


:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
}

:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont;
  // box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: rgb(18,18,18);
  background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(32,28,31,1) 65%, rgba(58,47,51,1) 75%, rgba(67,50,54,1) 100%);
  color: var(--light-color);
  font-family: 'JetBrains Mono', monospace;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  margin: 0 4px 4px 0;
}


